.switch {
    display: inline-block;
    width: 60px !important;
  }
   
  .switch input {
    display: none;
  }
   
  .switch label {
    display: block;
    width: 40px;
    height: 24px;
    padding: 3px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
    background-color: #b3b3b3;
  }
   
  .switch label::after {
    content: "";
    display: inherit;
    width: 18px;
    height: 18px;
    border-radius: 12px;
    background: #ffffff;
    transition: 0.3s;
  }
   
   
   
  .switch input:checked ~ label {
    background: #006FEE;
  }
   
  .switch input:checked ~ label::after {
    translate: 16px 0;
    background: #ffffff;    
  }
   
  .switch input:disabled ~ label {
    opacity: 0.5;
    cursor: not-allowed;
  }